<!- #fakat bu sayfayla baglanti kurabilmek icin bir baglanti cumlesi yazmamiz lazim.->
{% extends "base.html" %}

{% block sayfa_ismi %} index {% endblock %} 

{% block acilis %}
<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            {% include 'partials/_categories.html' %}
        </div>
        <div class="col-9">
            {% for blog in blogs %}
               {% if blog.is_active %}
                  {% include 'blog/parsles/_blog.html' %}
               {% endif %} 
            {% endfor %}
              
          
        </div>

    </div>
</div>
<h1>Anasayfa</h1>
{% endblock %}